:root {
    font-family: Roboto;
}

body {
    background: black;
    margin: 0;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
}

#form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(1px);
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#shelf {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
}

.book.unread{
    background: url(images/bookspineunread.svg);
    background-repeat: no-repeat;
}

.book.read{
    background: url(images/bookspineread.svg);
    background-repeat: no-repeat;
}

ul {
    text-align: center;
    list-style: none;
    margin: 0;
    display: flex;
    text-align: center;
    /* justify-content: left; */
    /* align-items: center; */
    padding: 10px;
    gap: 25px;
}

.hidden {
    visibility: hidden !important;
}

.input-wrapper {
    padding: 2px;
}

.input-wrapper input {
    margin: 0;
}