:root {
    font-family: Roboto;
}

body {
    background: black;
    margin: 0;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
}

#form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%
}

.input-wrapper {
    padding: 2px;
}

.input-wrapper input {
    margin: 0;
}